<body class="main">
  <!-- k -->
  <header class="">
    <nav class="navbar navbar-expand-md h-font navbar-light ">
      <div class="title-font">
        <h1>Politic-O-Pedia</h1>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav ml-auto nav-font">
          <li class="nav-item active">
            <a class="nav-link ks-nav" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ks-nav text-center" href="/logout">Log Out</a><span class="ks-nav-email logged-in-email"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link ks-nav" href="/candidates">View Candidates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ks-nav" href="#tech">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ks-nav" href="#team">Our Team</a>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Page Introduction -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 m-4 mx-auto">
        <section class="p-4">
          <img class="loading-image" src="images\white-house.gif" width="500" height="500">
        </section>
      </div>
    </div>
    <!-- Page Introduction -->
      <!-- Signup/Login Form -->
{{!--       <div class="row" id="login-box">
        <div class="col-md-4 border mx-auto text-center ks-container ">
          <div class=" fadeInDown">
            <div id="formContent" class="p-4">
              <div class="m-2 mt-2">
                <i class="far fa-user fa-3x"></i>
              </div>
              <form id="login">
                <div class="form-group">
                  <label for="username"></label>
                  <input type="text" class="mx-auto m-2" id="login-username" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="password"></label>
                  <input type="password" class="mx-auto m-2" id="login-password" placeholder="Password">
                </div>
                <p id="signUpMessage"></p>
                <button type="submit" class="mx-auto ks-button" id="login" value="login">Login</button>
              </form>
              <div class="justify-content-center">
                <p>Don't have an account?</p>
                <a id="signup" href="/register">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div> --}}
      {{!--             <div class="row" id="register-box">
                <div class="col-md-4 border mx-auto text-center ks-container ">
                    <div class=" fadeInDown">
                        <div id="formContent" class="p-4">
                            <div class="m-2 mt-2">
                                <i class="far fa-user fa-3x"></i>
                            </div>
                            <form id="signup">
                                <div class="form-group">
                                    <label for="username"></label>
                                    <input type="text" class="mx-auto m-2" id="register-username"
                                        placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="password"></label>
                                    <input type="password" class="mx-auto m-2" id="register-password"
                                        placeholder="Password">
                                </div>
                                <p id="signUpMessage"></p>
                                <button type="submit" class="mx-auto ks-button" id="register">Register</button>
                            </form>
                            <div class="justify-content-center">
                                <p>Already have an account?</p> <a id="go-back-login" href="#">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
      <!--About Section--->
      <div class="row" id="about">
        <div class="col-md-12 border ks-container m-4">
          <section class="p-4">
            <h1 class="h-font text-center">About</h1>
            <p>
            </p>
          </section>
        </div>
      </div>
      <!--Technology-->
      <div class="row" id="tech">
        <div class="col-md-12 border ks-container m-4">
          <section class="p-4">
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class=" text-center mt-auto">
    <div class="h-font footerText">© 2019 Politopedia
    </div>
  </footer>
</body>